body #mapDiv{ 
    background-image: url("Amoi.png");
    background-color: red;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
